html,
body {
  background: #EEEEEE !important;
  font-family: 'Roboto', Helvetica, Arial, sans-serif !important;
  padding: 0px !important;
  line-height: 1.5em !important;
  height: 100% !important;
}

.container {
  max-width: 950px;
}

.hide-mobile {
  @media screen and (max-width: 420px) {
    display: none;
  }
}

.disabled {
  opacity: 0.3 !important;
}

.cursor-pointer {
  cursor: pointer;
}

.no-padding{
  padding: 0px !important;
}

.no-margin{
  margin: 0px !important;	
}

.no-border{
  border: 0 !important;
}

.centered {
  text-align: center;
}

/*COLORS BACKGROUND*/

.color-primary {
  background: #e06b04 !important;
}

.color-secondary {
  background: #ff993f !important;
}

.tag{
  font-size: 0.8em;
  padding: 5px;
  border-radius: 5px;
  color: white;
  margin: 2px;
  text-align: center;
  float: left;
}

/*BUTTON*/

.btn {
  font-family: 'Roboto', Helvetica, Arial, sans-serif !important;
  border-radius: 5px !important;
  border: none !important;
}

.btn-primary,
.btn-secondary,
.btn-success,
.btn-danger,
.btn-warning,
.btn-info,
.btn-default,
.btn-link {
  min-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  color: white !important;
  &:hover {
    color: white !important;
  }
}

.btn-lg {
  height: 54px;
  font-size: 14px !important;
  padding-left: 25px !important;
  padding-right: 25px !important;
}

.btn-md {
  padding: 10px !important;
  margin-left: 5px !important;
}

.btn-sm {
  height: 27px;
  line-height: 1.0px !important;
  font-size: 11px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
}

.btn-xs {
  height: 23px;
  line-height: 1.0px !important;
  font-size: 10px !important;
  padding-left: 10px !important;
  padding-right: 10px !important;
}

.btn-primary {
  background: #e06b04 !important; 
  opacity: 0.9;
}

.btn-primary:hover {
  opacity: 1.0;
}

.btn-secondary {
  background: #ff993f !important;
  opacity: 0.9;
}

.btn-secondary:hover {
  opacity: 1.0;
}

.btn-default {
  background: #999999 !important;
  padding: 13px !important;
  opacity: 0.9;
  color: #000 !important;
}

.btn-default:hover {
  opacity: 1.0;
}


/*TEXT*/

.text-300 {
  font-weight: 300 !important;
}

.text-500 {
  font-weight: 500 !important;
}

.text-700 {
  font-weight: 700 !important;
}


/*TEXT COLOR*/

.text-primary {
 color: #4465AD !important;
}

.text-secondary {
  color: #777777 !important;
} 

.text-white {
  color: white !important;
}

.text-black {
  color: black;
}

.text-blue {
  color: #4465AD !important;
}

.text-muted {
  color: #999 !important;
  font-weight: 300 !important;
}


/*H*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto', Helvetica, Arial, sans-serif !important;
  color: #3c4858 !important;
  font-weight: 300 !important;
}
 

/*P*/

p {
  font-family: 'Roboto', Helvetica, Arial, sans-serif !important;
  margin-top: 5px !important;
  line-height: 1.5em !important;
  font-size: 1em !important;
}



/*FORM*/

.form-group {
  margin-top: 10px;
}

.form-group label {
  font-size: 14px !important;
  line-height: 1.42857;
  color: #000;
  font-weight: 800 !important;
  padding: 5px;
}

.form-group input {
  background: #f7f7f7;
}

button {
  text-transform: uppercase !important;
  font-size: 12px !important;
  font-weight: 400 !important;
}

button i {
  font-size: 14px !important;
}

/* JSF MENUBAR */
.ui-menu .ui-menuitem-link {
  padding: 13px !important;
}

/* FOOTER */
footer{
  background-color: #FFFFFF;
  border: 1px solid;
  border-color: #b6b6b6;
  border-radius: 5px;
}

.copyright{
  padding: 13px;
  text-align: center;
}

/* LOGIN PAGE */
.login-header {
  margin: 0;
  background-color: #e06b04 !important;
  padding: 0 !important;
  color: #fff !important;
  border: 1px solid black;
}
.login-header > h3, h4 {
  color: #fff !important;
}

/* Index */
#banner{
  width: 100%;
  height: 600px;
  float: inherit;
}

#banner img{
  width: 100% !important;
  height: 100%;
}

@font-face {
  font-family: 'intro_light_capsregular';
  src: url('../fonts/intro-light-caps-webfont.woff2') format('woff2'),
       url('../fonts/intro-light-caps-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ralewaylight';
  src: url('../fonts/raleway-light-webfont.woff2') format('woff2'),
       url('../fonts/raleway-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

#blazon{
  margin-top: 0px !important;
  text-align: center;
  font-family: intro_light_capsregular !important;
  color: #800000;
  font-size: 50px !important;
  width: 100% !important;
  height: 15%;
  background: #e99d52;
}

#slogan{
  font-family: ralewaylight !important;
  font-weight: 800;
  font-size: 20px !important;
  text-align: center;
  background: #FFF;
}


/* Register */
.conf{
  display: table !important;
  width: 100%;
}
/* align tables */
table > tbody > tr> td.grid{
  vertical-align: top !important;
}

.gap1{ 
  padding-left: 25px;
  width: 60px;
  font-weight: bold; 
}

.gap2{
  vertical-align: top !important;
  padding-left: 5px;
  width: auto;
}

.align-right{
  float: right;
  margin: 5px;
}

/* class button next and back */
.ui-button.ui-state-default{
  font-family: 'Roboto', Helvetica, Arial, sans-serif !important;
  border-radius: 5px !important;
  border: none !important;
  background: #e06b04 !important; 
  opacity: 0.9;
  line-height: 1.0px !important;
  font-size: 10px !important;
  padding: 10px !i\mportant;
}

/* class register flaps */
.ui-state-highlight{
  background: #e06b04 !important;
  border-color: #e06b04 !important;
}

/* class image profile 	
.profile{
	background-color: transparent;
}

.profile > img{
	background-color: #fff;
	border-radius: 110px;
}*/


/* class title information profile 
.profile-inf{
	padding: 40px;
}

.profile-panel{
	margin-right: -10px;
	width: 
}*/